<br>
<div class="container  px-2 mt-4 font-sm "  style="max-width: 1000px;">
  <h3><%= current_user.email %></h3>
  <div class="d-none d-sm-block ">
  <table class="table table-hover show-border bg-white mt-3" >        
        <thead >
          <tr class="text-secondary">
            <th scope="col" class='col-8 fw-normal py-3'>Category</th>
            <th scope="col" class='fw-normal py-3' > Price</th>
            <th scope="col" class='fw-normal py-3'> Date</th> 
          </tr>
        </thead>
        <tbody>  
          <%  @purchases.each do |purchase| %>          
            <th class="text-secondary" >        
            <%=  purchase.category_name %> 
            <th class="py-3">
            <%= purchase.price %> 
            <th class="py-3">                 
            <%= purchase.buy_at.to_date.to_formatted_s(:long_ordinal) %>      
            <th>
            </tr>        
          <% end %>
        </tbody>        
  </table>  
    <h5>Total spend  : <%=  @purchases.sum(:price)  %>  UAH </h5>
  </div>











